@charset "UTF-8";
@font-face {
  font-family: irandana;
  src: url(font/dana-regular.woff2);
}

html, h3 {
  font-family: irandana;
}

body {
  color: #132027;
}

.headline-of-app h1 {
  text-align: center;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 40vw;
  -ms-grid-columns: (3fr)[3];
      grid-template-columns: repeat(3, 3fr);
  position: absolute;
  left: 30%;
  top: 10%;
}

.container img {
  max-width: 60px;
}

.container .normal {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  height: 20vh;
  border: 1px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .pain-text-titel {
  position: relative;
}

.container .pain-text-titel::after {
  content: "بیشتر";
  position: absolute;
  font-size: 12px;
  top: 110%;
  right: 30%;
}

.container .food-text {
  position: relative;
}

.container .food-text::after {
  content: "بیشتر";
  position: absolute;
  font-size: 12px;
  top: 110%;
  right: 30%;
}

.container .emotion-text {
  position: relative;
}

.container .emotion-text::after {
  content: "بیشتر";
  position: absolute;
  font-size: 12px;
  top: 110%;
  right: 30%;
}

.container .yesOrnow-text {
  position: relative;
}

.container .yesOrnow-text::after {
  content: "بیشتر";
  position: absolute;
  font-size: 12px;
  top: 110%;
  right: 30%;
}

#head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3fr)[3];
      grid-template-columns: repeat(3, 3fr);
}

#head #head1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#head #back {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.bg-red-1 {
  background-color: #eedcdc;
}

.bg-red-2 {
  background-color: #f0c2c2;
}

.bg-red-3 {
  background-color: #f1a0a0;
}

.bg-red-4 {
  background-color: #f39191;
}

.bg-red-5 {
  background-color: #ef7777;
}

.bg-red-6 {
  background-color: #ee6161;
}

.bg-red-7 {
  background-color: #ef5353;
}

.bg-red-8 {
  background-color: #ef3d3d;
}

.bg-red-9 {
  background-color: #f21b1b;
}

.bg-red-10 {
  background-color: #fa0000;
}

.hide {
  display: none !important;
}

.y {
  padding: 2vw;
  margin: 0 auto;
}

.yesOrNow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.acttive {
  background-color: black;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
  font-size: 2vw !important;
}

.acttive h3 {
  font-size: 2vw !important;
  color: #fff;
}

.acttive img {
  display: none;
}

#head1 {
  border: 1px solid;
  width: 9%;
}
/*# sourceMappingURL=style.css.map */